div.short-field {
    width: 10%;
    margin: 0 2%;
}

div.MuiGrid-root.align-right {
    text-align: right;
}

div.MuiGrid-root span {
    margin: 0 2%;
}

button.circle-button {
    padding: 10px 10px;
    min-width: 40px;
    border-radius: 50%;
}

.circle-button .MuiButton-label {
    text-align: center;
}

.circle-button span span {
    margin-right: 0;
    margin-left: 0;
}

p.MuiFormHelperText-root.Mui-error {
    z-index: 2;
    background-color: #f34d4d;
    color: black;
    box-sizing: border-box;
    border: 2px solid red;
    transition: opacity 0.3s;
}